.viewPort{
    width:80vw;
}
.margin{
    margin:auto;
}
/* formobileview */
@media only screen and (max-width: 600px) {


#search{
    display: block;
    /* background-color: red; */
    
}
#searchBox{
    /* color:pink; */
    width:100%;
    margin-right: 2px;
}
#searchBtn{
    margin-left:15px;
    margin-bottom: 2px;
}




/* ------------------------------------------ */

    #showToday{
        width:100%;
    
    }
    #toShowDataInLeftSide{
        width:100%;
        
    }
    /* #secondTable{
width:75%;
    } */
   .viewPort{
       width:95vw;
   }
   /* --------------------------------------------- */
   #dailyMaindiv{
       flex-wrap: wrap;
   }  
   #dayRowMainDiv{
       width:100%;
   }

   #alerts{
width:100%;
   }
}